body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 115px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #9DCEE2;
    color: #1368AA;
    border: 2px double #003270;
    border-radius: 15px;
}

.card:hover {
    box-shadow: 4.5px 4.5px;
    text-shadow: 0.25px 0.25px #003270;
    transition: 2.5s;
}

